---
layout: default
cover: /assets/images/maximus_1280.jpg
chapters:
 - title: 'Chapter 0: Clouds'
   cta: 'Read Chapter 0'
   cover: /assets/images/chapter_clouds_page02_f5.jpg
   url: /chapters/0
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href={{ "/" | prepend: site.baseurl }} style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <a href={{ "/" | prepend: site.baseurl }}><h1 class="blog-title">{{ site.title }}</h1></a>
    <a href={{ "/" | prepend: site.baseurl }}><h2 class="blog-description">{{ site.description }}</h2></a>
    <div class="blog-nav">
      {% include nav.html %}
    </div>
</header>

<main class="content" role="main">
    <!-- <h5 class="index-headline"><span class="lang-switch"><a>English</a> | <a>Ελληνικά</a></span></h5> -->
    
    {% for chapter in page.chapters %}
    <article class="post">
        <div class="article-item">
        <a href="{{chapter.url  | prepend: site.baseurl }}" class="post-overlay">
          <header class="post-header">
            <h2 class="post-title">{{chapter.title}}</h2>
          </header>
          <section class="post-content">
            <div class="post-fade-area">
              <img class="post-preview" src="{{chapter.cover | prepend: site.baseurl }}" />
              <span class="overlay"></span>
              <p class="post-cta">{{chapter.cta}}</p>     
            </div>  
          </section>
        </a>
        </div>
    </article>
    {% endfor %}

    <header class="post-header">
      <h2 class="post-title">Chapters</h2>
    </header>
    <div class="grid">
      <div class="grid-sizer grid-chapters"></div>
        {% for i in (0..16) %}
          <div class="grid-item grid-chapters">
            <a href="{{site.baseurl}}/chapters/{{i}}">
              <img src="http://via.placeholder.com/155x155/FAB" alt="{{image.modified_time}}"/>
            </a>
          </div>
        {% endfor %}
    </div>

    {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>Featured from the Blog</span></h5>

    <div class="container featured">
      {% for post in site.tags.featured %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
  <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
    {% endif %}

</main>
