---
layout: default
cover: /assets/images/maximus_1280.jpg
chapters:
 - title: 'Chapter 0: Clouds'
   cover: /assets/images/clouds_heropromo_color.jpg
   url: /chapters/0
   status: published
 - title: 'Chapter 1: Heavy Feet'
   cover: /assets/images/heavy_heropromo.jpg
   url: /chapters/1
   status: …in progress
 - title: 'Chapter 2: Road Blaster'
   cover: /assets/images/roadblaster_heropromo.jpg
   url: /chapters/2
   status:
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href={{ "/" | prepend: site.baseurl }} style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <a href={{ "/" | prepend: site.baseurl }}><h1 class="blog-title">{{ site.title }}</h1></a>
    <a href={{ "/" | prepend: site.baseurl }}><h2 class="blog-description">{{ site.description }}</h2></a>
    <div class="blog-nav">
      {% include nav.html %}
    </div>
</header>

<main class="content" role="main">

    <header class="post-header">
      <h2 class="post-title">Published Chapters</h2>
    </header>

    {% for chapter in page.chapters%}
    {% if chapter.status == 'published' %}
    <article class="post post-chapter">
        <div class="article-item post-overlay">
        <a href="{{chapter.url  | prepend: site.baseurl }}" target='_blank'>
          <section class="post-content">
            <div class="post-fade-area">
              <img class="post-preview" src="{{chapter.cover | prepend: site.baseurl }}" />
              <img class="post-preview-card" src="{{chapter.cover | prepend: site.baseurl }}" />
              <header class="post-header">
                <h2 class="post-title " >{{chapter.title}}</h2>
              </header>
            </div>  
          </section>
        </a>
        </div>
    </article>
    {% endif %}
    {% endfor %}

    <header class="post-header">
      <h2 class="post-title">Coming soon…</h2>
    </header>

    {% for chapter in page.chapters %}
    {% if chapter.status != 'published' %}
    <article class="post post-chapter">
        <div class="article-item post-overlay">
          <section class="post-content">
            <div class="post-fade-area">
              <img class="post-preview" src="{{chapter.cover | prepend: site.baseurl }}" />
              <img class="post-preview-card" src="{{chapter.cover | prepend: site.baseurl }}" />
              <header class="post-header">
                <h2 class="post-title " >{{chapter.title}}</h2>      
                <div class="un-published">{{chapter.status}}</div>
              </header>
            </div>  
          </section>
        </div>
    </article>
    {% endif %}
    {% endfor %}

    {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>Featured in the Gazette</span></h5>

    <div class="container featured">
      {% for post in site.tags.featured %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
  <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
    {% endif %}

</main>
