---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>


<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="blog-nav">
      {% include nav.html %}
    </div>
</header>


<main class="content sketchbook" role="main">

  <div class="grid">
    <div class="grid-sizer grid-sketchbook"></div>
    {% assign sorted = (site.static_files | sort: 'basename') | reverse %}

    {% for image in sorted %}
      {% if image.path contains 'sketchbook' %}
        <div class="grid-item grid-sketchbook">
          <a href="{{ image.path | prepend: site.baseurl }}" data-fluidbox>
            <img src="{{ image.path | prepend: site.baseurl }}" alt="{{image.modified_time}}"/>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

</main>
