<!-- footer start -->

<footer class="site-footer">
  <div class="inner">
    <section class="copyright">All content copyright {{site.name}} &copy; {{ site.time | date: '%Y' }}. All rights reserved.</section>
  </div>
  <section class="contact-us"><a href="mailto:{{ site.email }}"><i class="fa fa-envelope" aria-hidden="true"></i><span>Contact us</span></a><a class="subscribe" href="http://eepurl.com/cVoxeb"><i class="fa fa-user-plus" aria-hidden="true"></i><span>Subscribe</span></a></section>
</footer>

<!-- footer end -->
