<!-- nav start -->
<div class="custom-links">
  <a href={{ "/gallery/" | prepend: site.baseurl }}>Gallery</a>&nbsp;&nbsp;·&nbsp;&nbsp;
  <a href={{ "/characters/" | prepend: site.baseurl }}>Characters</a>&nbsp;&nbsp;·&nbsp;&nbsp;
  <a href={{ "/articles/" | prepend: site.baseurl }}>Articles</a>&nbsp;&nbsp;·&nbsp;&nbsp;
  <a href={{ "/about/" | prepend: site.baseurl }}>About</a>&nbsp;&nbsp;·&nbsp;&nbsp; {% for social in site.social %} {% if social.url %}
  <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}" {% endif %} ">
            <i class="fa fa-{{ social.icon }} "></i>
          </a>
          &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endif %}
    {% endfor %}
</div>
<!-- nav end -->
